header.content nav {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12)
}
div.content {
	padding: 1em;
}
.input-set {
	padding-left: 3rem;
	position: relative;
}
.input-set::before {
	position: absolute;
	left: 0;
	font-size: 150%;
	font-family: "Material Icons";
	-webkit-font-feature-settings: "liga";
	-webkit-font-smoothing: antialiased;
	padding-top: 28px; /* .paper-input-container-0[padding-top] + .floated-label-placeholder.paper-input-container[line-height] */
}
.species::before {
	content: "\E886";
}
#display-photo {
	display: block;
	margin-top: 1em;
	background: silver;
	width: 12em;
	height: 12em;
	object-fit: contain;
}
