.feed:not(.likes) .pageheader .sub a:nth-child(1) {
	border-bottom: 4px solid #96b41f;
}
.likes .pageheader .sub a:nth-child(4) {
	border-bottom: 4px solid #96b41f;
}

.placeholder {
	font-size: 200%;
	padding: 2em 1em;
	color: silver;
	font-weight: bold;
	text-align: center;
}

.fat-list {
	font-size: 90%;
}
.feed .fat-list figure {
	flex: 0 0 8em;
	height: 8em;
	border-radius: 0;
}
.fat-list a {
	color: inherit;
}

.fat-list h1 {
	color: #96b41f; /* $green */
}
.fat-list h2 {
	color: #000;
}
