.feed:not(.likes) .pageheader .sub a:nth-child(1) {
	border-bottom: 4px solid #96b41f;
}
.likes .pageheader .sub a:nth-child(4) {
	border-bottom: 4px solid #96b41f;
}

.placeholder {
	font-size: 200%;
	padding: 2em 1em;
	color: silver;
	font-weight: bold;
	text-align: center;
}

.fat-list {
	font-size: 90%;
}
.feed .fat-list figure {
	flex: 0 0 8em;
	height: 8em;
	border-radius: 0;
}
.fat-list a {
	color: inherit;
}

.fat-list h1 {
	color: #96b41f; /* $green */
}
.fat-list h2 {
	color: #000;
}
.timestamp::before, .coordinates::before, .user::before, article .likes::before {
	display: inline-block;
	font-family: 'Material Icons';
	-webkit-font-feature-settings: 'liga';
	-webkit-font-smoothing: antialiased;
	padding-right: 0.5em;
}
.timestamp::before {
	content: '\E192';
}
.coordinates::before {
	content: '\E80B';
}
.user::before {
	content: '\E7FD';
}
article .likes::before {
	content: '\E87D';
}
.liked::before {
	color: #96b41f; /* $green */
}
article .likes .count::after {
	content: ' likes · ';
}
article .likes a::before {
	content: 'Like';
}
.liked a::before, .feed.likes article .likes a::before {
	content: 'Unlike';
}
