@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

/* -- variables --

$gray: #333;
$gray-text: #9c9b9b;
$disabled: #c6c6c5;
$green: #96b41f / hsl(72,71,41);

*/

/* -- generic elements -- */
* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	height: 100%;
	font-family: Roboto, sans-serif;
}
body {
	display: flex;
	flex-direction: column;
}
main {
	flex: 1;
	overflow: auto;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-weight: normal;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}
a {
	color: inherit;
	text-decoration: none;
}
figure {
	margin: 0;
}
input {
	color: inherit;
}
input:not([type]), input[type="text"], input[type="password"], input[type="search"] { /* register, search, signin */
	width: 100%;
	border: none;
	border-bottom: solid 1px silver;
	outline: none; /* android browser */
	font: inherit;
}
main input, main button { /* register, signin */
	padding: 0.6em;
}
input:not([type]):focus, input[type="password"]:focus { /* register, signin */
	border-bottom: solid 2px #96b41f; /* $green */
	margin-bottom: 0;
}
button, input[type="submit"] {
	font-family: inherit;
	font-size: inherit;
	text-transform: uppercase;
	border: none;
	border-radius: .2em;
	background: transparent;
	color: #96b41f; /* $green */
}
button.main, input[type="submit"] {
	background: #96b41f; /* $green */
	color: white;
	box-shadow: 0 .2em .5em 0 rgba(0, 0, 0, 0.26);
}

/* -- commonly used classes -- */
a.icon {
	display: block;
	width: 100%;
	height: 100%;
	text-align: center;
	font-weight: normal;
}
.template {
	display: none !important;
}
input.material-icons {
	font-family: "Material Icons";
	font-size: 24px;
}
.material-icons {
	line-height: inherit;
}
.fab {
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	background: #96b41f; /* $green */
	color: white;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	width: 4rem;
	height: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 2.5rem;
	text-decoration: none;
}
.fab .material-icons {
	font-size: inherit;
}

/* -- specific elements -- */

body > nav {
	height: 56px;
	line-height: 56px;
	display: flex;
	font-weight: 500; /* medium */
	font-size: 18px;
}
.toolbar ul {
	color: #9c9b9b;
	background: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	z-index: 500; /* layer on top of leaflet map */
	flex: 1;
	display: flex;
}
.toolbar li {
	flex: 1;
}
.toolbar.app ul {
	background: #96b41f;
	color: white;
}
html.personal .icon.personal,
html.public   .icon.public,
html.camera   .icon.camera,
html.search   .icon.search,
html.settings .icon.settings {
	background: #b0c757;
}
html.feed:not(.likes) .icon.feed,
html.map      .icon.map,
html.friends  .icon.friends,
html.likes    .icon.likes {
	border-bottom: 4px solid #96b41f;
}
main + nav {
	text-align: center;
	box-shadow: 0 -2px 5px 0 rgba(0, 0, 0, 0.16), 0 -2px 10px 0 rgba(0, 0, 0, 0.12);
	background: white;
}
main + nav a {
	flex: 1;
}

header.content nav.icons {
	color: white;
}
header.content.sticky nav.icons {
	color: #96b41f; /* green */
}
header.content nav.icons::before {
	content: "";
	position: fixed;
	height: 56px; /* = body > nav[height] */
	width: 100%;
	z-index: 1001; /* layer on top of leaflet map credits */
	background: linear-gradient(to bottom, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	-webkit-transition-duration: .1s;
}
header.content nav.icons .icon {
	font-size: 24px; /* = header.screen */
	width: 3rem;
	height: 56px;
	line-height: 56px;
	text-align: center;
	position: fixed;
	z-index: 1003; /* layer on top of header text */
	padding: 0;
}
header.content nav.icons .icon:nth-child(2) {
	right: 0;
}
header.content img {
	display: block;
	width: 100%;
	height: 56.25vw;
	max-height: 50vh;
	overflow: hidden;
	object-fit: cover;
}
header.content img:not([src]) {
	display: none;
}
header.content h1 {
	font-size: 18px;
	color: #96b41f; /* green */
}
header.content.sticky .text {
	top: 56px; /* body > nav[height] */
	line-height: 56px;
	height: 56px;
	padding: 0 0 0 3rem;
	position: fixed;
	width: 100%;
	z-index: 1002; /* layer on top of icons background */
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-transition-duration: .3s;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	background: white;
}
header.content.sticky .text > * {
	display: inline;
}
header.content nav.ancestors * {
	display: inline;
}
header.content.sticky h2:not(:empty)::before {
	content: "(";
}
header.content.sticky h2:not(:empty)::after {
	content: ")";
}
header.content.sticky::after {
	content: "";
	display: block;
	height: 56px;
}
header nav .material-icons {
	display: block;
}
