.pageheader .sub a:nth-child(2) {
	border-bottom: 4px solid #96b41f;
}

#map {
	height: 100%;
}
.leaflet-container {
	font-family: inherit;
}
.leaflet-popup-content-wrapper {
	border-radius: 0;
}
.leaflet-popup-content {
	margin: .5em;
	font-size: .9rem;
	line-height: 1.25;
	white-space: nowrap;
	overflow: auto;
}
.leaflet-popup-content .spacer {
	width: 16em;
}
.leaflet-popup-content img {
	float: left;
	width: 4.5em;
	height: 4.5em;
	object-fit: fill;
	margin-right: .5em;
}
.leaflet-popup-content h2 {
	color: #96b41f; /* $green */
	font-size: 130%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.leaflet-popup-content h3 {
	font-weight: bold;
	font-size: 100%;
	overflow: hidden;
	text-overflow: ellipsis;
}
.leaflet-popup-content time {
	color: silver;
}