h2, .timestamp, .coordinates, .user, .likes-container {
	padding: 0 1rem;
}
h2 {
	font-size: 1em;
}
div.content {
	color: #9c9b9b;
	line-height: 1.4;
}
.likes-container {
	padding-bottom: 1rem;
}

.likes-count::after {
	content: " likes · ";
}

#map {
	height: 56.25vw;
}