main {
	display: flex;
	flex-direction: column;
}
img {
	flex: 1;
	overflow: hidden;
	object-fit: cover;
}

.score {
	float: right;
	background: no-repeat url('score.png') center center / contain;
	width: 3em;
	padding: 0.85em 0.25em 0.85em 0;
	text-align: center;
	font: bold 2em 'Roboto Slab', sans-serif;
	color: white;
}
