body {
	font-size: 120%;
}
section.top {
	border-bottom: solid 2px white;
}
section.top > header {
	color: #96b41f; /* $green */
	background: #eee;
	padding: 1em;
}
section.top > header::before {
	font-family: "Material Icons";
	content: "\E145";
	display: block;
	float: right;
}
section.active > header::before {
	content: "\E15B";
}
section header h1 {
	font-size: 100%;
	font-weight: 300;
}
section.top > main {
	display: none;
	padding: .5em;
}
section.active main {
	display: block;
}
.reorder-option-list {
	display: flex;
	padding: .5em;
}
input[type="checkbox"] {
	display: none;
}
.reorder-option-list div {
	flex: 1;
	display: flex;
	align-items: center;
}
.reorder-option-list .text {
	flex: 1;
}
input[type="checkbox"] + div .icon {
	order: 99;
	font-size: 1.2em; /* ca 24px */
}
input[type="checkbox"] + div .icon::before {
	font-family: "Material Icons";
	content: "\E835";
	display: block;
	padding-left: 0.5em;
	font-size: 1.2em; /* ca 24px */
}
input[type="checkbox"]:checked + div .icon::before {
	content: "\E834";
	color: #96b41f; /* $green */
}
.reorder-option-list button {
	padding: 0 .5em;
	color: inherit;
	height: 24px; /* = .material-icons[height] */
}
.reorder-option-list .material-icons {
	display: block;
}
.reorder-option-list input:not(:checked) + div button {
	visibility: hidden;
	/* if using display:none, the space for these buttons would be taken by the label, causing problems when clicking again on the same spot */
}
.profile img {
	display: block;
	width: 6em;
	height: 6em;
	object-fit: cover;
	margin: auto;
	border-radius: 50%;
}
.profile img:not([src]) {
	background: silver url("logo-white.png") center / contain no-repeat;
}
.username {
	text-align: center;
	font-size: 200%;
}
.change {
	color: #96b41f; /* $green */
	text-transform: uppercase;
	text-align: center;
	display: flex;
	font-size: 80%;
}
.change div {
	flex: 1;
}
.change a {
	color: inherit;
	text-decoration: none;
}
dt {
	color: silver;
	font-size: 80%;
}
dt::after {
	content: ":";
}
dd {
	margin: 0;
	font-weight: bold;
}
dd::before {
	display: inline-block;
	font-family: "Material Icons";
	padding-right: 0.5em;
	color: silver;
	vertical-align: middle;
}
.name dd::before {
	content: "\E7FD";
}
.email dd::before {
	content: "\E0BE";
}
.badge dd, .stats dd {
	color: #96b41f; /* $green */
}
.badge dd::before {
	content: "\E866";
}
.obs::before {
	content: "\E3B0";
}
.obs::after {
	content: " observations";
}
.fol::before {
	content: "\E7FB";
}
.fol::after {
	content: " followers";
}
.lik::before {
	content: "\E87D";
}
.lik::after {
	content: " likes";
}
.about {
	color: silver;
}
.about div {
	padding-bottom: 1em;
}
.about section {
	font-size: 80%;
}
.about section header {
	color: #96b41f; /* $green */
	font-weight: bold;
}