html, body {
	height: 100%;
	margin: 0;
}
body {
	background: #96b41f url("splash.jpg") 40% 55%/cover;  /* $green */
	color: white;
	font-family: Roboto, sans-serif;
}
a {
	color: inherit;
	display: block;
	text-decoration: inherit;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	height: 100%;
}
a::before { /* top margin for splash image */
	content: "";
	display: block;
	height: 12%;
}
a::after {
	position: absolute;
	bottom: 0;
	right: 0;
	content: attr(data-version);
	padding: 1em;
}
.container {
	height: 30%;
	text-align: center;
}
.container::before { /* trick to vertical align image */
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
img {
	max-width: 65%;
	max-height: 100%;
	vertical-align: middle;
}
