.fab {
	bottom: 4rem; /* extra space for footer */
}

form {
	padding: 1em 1em 0 1em;
	display: flex;
}
input[type="submit"] {
	margin-left: 1em;
	color: inherit;
	background: inherit;
	box-shadow: none;
	padding: 0;
}
header.content:not(.sticky) .text {
	padding: 1rem;
}
header.content nav.ancestors {
	padding-bottom: 1rem;
}
header.content nav.ancestors li::after {
	content: " > ";
}
header.content h2 {
	font-size: 100%;
	font-style: italic;
}

#pictures {
	width: 100%;
	white-space: nowrap;
	overflow: auto;
}
#pictures a {
	display: inline-block;
	margin: 1em 1em 1em 0;
}
#pictures a:first-child {
	margin: 1em;
}
#pictures img {
	height: 10em;
	vertical-align: top; /* to force failed loads in-line */
}
