.pageheader .sub {
	display: block;
}
.sub h1 {
	font-size: inherit;
	font-weight: normal;
	color: #96b41f; /* green */
	text-align: center;
}

.fab {
	bottom: 4rem; /* extra space for footer */
}

form {
	padding: 1em 1em 0 1em;
	display: flex;
}
input[type='submit'] {
	margin-left: 1em;
	color: inherit;
	background: inherit;
	box-shadow: none;
	padding: 0;
}

.pagefooter {
	font-size: inherit;
}