/* -- variables --

$blue: #33b5e5;
$gray: #333;
$gray-text: #9c9b9b;
$disabled: #c6c6c5;
$orange: #f28c00;

*/

html, body {
	height: 100%;
	margin: 0;
	font-family: Roboto, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
}
a {
	color: inherit;
	display: block;
	text-decoration: inherit;
}
ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.page { /* full-page clickable link */
	height: 100%;
}
.shadow-cover {
	height: 100%;
	box-sizing: border-box;
	background: rgba(0,0,0,.7);
}
.popup {
	background: white;
	width: 20em;
	max-width: 100%;
	max-height: 100%;
	border-radius: 0.2rem;
	box-shadow: 0 0 0.5rem #000;
}
.a10y { /* accessibility */
	/* source: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
	position: absolute !important;
	height: 1px; width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}

/* screenshot pages */
.screenshot {
	background: #333; /* $gray */
}
.screenshot a {
	height: 100%;
}
.screenshot img { /* full-page centered image */
	display: block;
	margin: auto;
	max-height: 100%;
	max-width: 100%;
}

/* overlay image, for comparison */
.overlay {
	display: block;
	position: absolute;
	top: 0;
	width: 100%;
	opacity: 0.5;
	z-index: 1;
}

/* android style */
.android h1 {
	border-bottom: 0.15rem solid #33b5e5; /* $blue */
	color: #33b5e5; /* $blue */
	font-size: 110%;
	font-weight: inherit;
	padding: 1rem;
}

/* splash screen */
.splash .page::before { /* top margin for splash image */
	content: "";
	display: block;
	height: 30%;
}
.splash .container {
	height: 40%;
	text-align: center;
}
.splash .container::before { /* trick to vertical align image */
	content: "";
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}
.splash img {
	background: #f28c00; /* $orange */
	border-radius: 10%;
	max-width: 40%;
	max-height: 100%;
	vertical-align: middle;
}

/* sharing screen */
.share {
	background: url("../content/photo.jpg") 0 / cover;
}
.share .shadow-cover {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 1.5em;
}
.share .share-window-container {
	display: inline-block;
	padding: 1em;
}
.share .share-window {
	display: flex;
	flex-direction: column;
}
.share .share-apps {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: auto;
}
.share li {
	border-bottom: 1px solid #dcdcdc;
}
.share li::last-child {
	border-bottom: none;
}
.share .share-apps a {
	padding: 0.5rem 1rem;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.share .share-apps a::before {
	content: "";
	display: inline-block;
	height: 1.75em;
	width: 1.75em;
	vertical-align: middle;
	margin-right: 1em;
	border-radius: 10%;
	box-shadow: 0 0 5px #777;
}
.share li.biocaching a::before {
	background: url("logo-white.png") #f28c00 center/contain; /* $orange */
}
.share .facebook a::before {
	background: url("facebook-white.png") #36609f center/contain;
}
.share .gplus a::before {
	background: url("gplus-white.png") #db5442 center/contain;
}
.share .twitter a::before {
	background: url("twitter-white.png") #2aa9e0 center/contain;
}
.share .instagram a::before {
	background: url("insta-white.png") #ec338e center/contain;
}
.share .snapchat a::before {
	background: url("snap-white.png") #fffc00 center/contain;
}

/* biocaching screens */
.biocaching h1 {
	font-family: "Roboto Slab", serif;
}
.biocaching .pageheader {
	background: #f28c00; /* $orange */
	color: white;
	padding: 0.25rem;
}
.biocaching .pageheader-part1 {
	overflow: auto;
}
.biocaching .pageheader .home-link {
	background: url("logo-white.png") 0 / contain;
	height: 2.5rem;
	width: 2.5rem;
	float: left;
}
.biocaching .pageheader .menu-link {
	background: linear-gradient(to bottom, white, white 20%, transparent 20%, transparent 40%, white 40%, white 60%, transparent 60%, transparent 80%, white 80%, white 100%);
	height: 1.5rem;
	width: 1.5rem;
	margin: 0.5rem;
	float: right;
}
.biocaching .pageheader h1 {
	font-size: 140%;
	text-align: center;
	padding: 0.4em;
}
.biocaching .pageheader .search {
	background: white;
	display: block;
	width: 85%;
	margin: 0.5em auto 0.25em;
	font-size: 80%;
	border: 1px solid silver;
	border-radius: 0.5em;
	position: relative;
}
.biocaching .pageheader input {
	background: transparent;
	border: none;
}
.biocaching .pageheader .search-text {
	font-size: 120%;
	width: 100%;
	padding: 0.5em;
	padding-right: 2em;
}
.biocaching .pageheader .search-button {
	position: absolute;
	right: 0;
	top: 0;
	bottom: 0;
	width: 2em;
	padding: 0;
}

.biocaching main {
	padding: 1rem;
}
.biocaching article {
	padding-bottom: 0.5rem;
}
.species-nav-list a::before {
	content: "❯";
	display: block;
	float: right;
	color: #f28c00; /* $orange */
	padding: 1em 0;
}
.species-nav-list img {
	float: left;
	width: 3.5em;
	padding-right: 1em;
}
.species-nav-list h2 {
	font-size: 100%;
	padding-top: 0.6em;
	margin-bottom: -0.1em;
}
.species-nav-list p {
	color: #9c9b9b; /* $gray-text */
	font-style: italic;
	padding-bottom: 0.6em;
	margin-top: -0.1em;
}
