/* -- variables --

$gray: #333;
$gray-text: #9c9b9b;
$disabled: #c6c6c5;
$orange: #f28c00;

*/

* {
	box-sizing: border-box;
}
html, body {
	margin: 0;
	height: 100%;
	overflow: auto; /* wrap around possible margins */
	font-family: Roboto, sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
	margin: 0;
	font-weight: normal;
}
a {
	color: inherit;
	display: block;
	text-decoration: inherit;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
ol, ul {
	margin: 0;
	padding: 0;
	list-style: none;
	overflow: auto; /* prevent margin collapse of main and article */
}

.template {
	display: none !important;
}

.cards {
	background: #eee;
}

.pageheader {
	display: flex;
	align-items: center;
	height: 3rem;
	background: #f28c00; /* $orange */
	color: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
	position: fixed; left: 0; right: 0; top: 0;
	z-index: 1; /* layer on top of other positioned content */
	font-size: 24px; /* = .material-icons{font-size} */
}
.search .pageheader {
	background: white;
	color: #f28c00; /* $orange */
}
.pageheader .icon {
	width: 3rem;
	text-align: center;
}
.material-icons {
	vertical-align: middle;
}
.pageheader .home-link {
	background: url("logo-white.png") center / contain;
	height: 2.5rem;
}
.home-link i {
	/* source: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
	position: absolute !important;
	height: 1px; width: 1px; 
	overflow: hidden;
	clip: rect(1px, 1px, 1px, 1px);
}
.pageheader h1 {
	flex: 1;
	font-size: inherit;
}

.fab {
	position: absolute;
	top: 4rem;
	right: 1rem;
	background: #f28c00; /* $orange */
	color: white;
	padding: 1em 1em;
	border-radius: 50%;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

figure {
	margin: 0;
	position: relative;
	z-index: -1;
	height: 100vw;
	max-height: 30em;
	margin-bottom: -4rem;
}
.biocaching figure {
	display: none;
}
figure img {
	display: block;
	height: 100%;
	width: 100%;
}
figure img.bg {
	position: absolute;
	z-index: -2;
	object-fit: cover;
	filter: opacity(0.5) blur(15px);
	-webkit-filter: opacity(0.5) blur(15px); /* android browser */
	/* fun fact: this order of filters seems to be much faster on android browser than the reverse order */
}
figure img.fg {
	object-fit: contain;
	padding-top: 3rem;
	/*padding-bottom: 4.5rem;*/
}

.content {
	margin: 0 auto;
	max-width: 35rem;
	overflow: auto; /* prevent margin merging */
	margin-top: 3rem; /* = .pageheader{height} */
}

.card {
	background: #fff;
	margin: 0.5rem;
	overflow: auto;
	box-shadow: 0px 1px 2px 0px rgba(0, 0, 0, 0.16);
	border-radius: 2px;
}
.card main {
	padding: 0 1rem;
}
.card main > a {
	margin: 1rem 0;
}
.card.list {
	padding: 0;
}
.cards li article {
	display: flex;
}
.cards article img {
	width: 4.5rem;
	height: 4.5rem; /* required for Chrome */
	border-radius: 50%;
	margin-right: 1rem;
	object-fit: cover;
}
.biocaching .cards article img {
	display: none;
}
.cards article header {
	flex: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
}
.card-header {
	padding: 0 1rem;
	border-bottom: 1px solid silver;
}
.card-header h2 {
	font-size: 100%;
	text-transform: uppercase;
	color: #f28c00; /* $orange */
	margin: 1rem 0;
}
#descendents li:not(:last-child) {
	border-bottom: 1px solid silver;
}
#descendents li a {
	margin: 1rem 0;
}
.card.list h3 {
	font-size: 100%;
}
ul p {
	color: #616161;
	font-size: 80%;
}

.highlight {
	font-weight: bold;
}

.photo {
	position: relative;
	color: #f28c00; /* $orange */
}
.photo img {
	display: block;
	width: 100%;
}
.info p {
	margin: 1rem 0;
}
#name {
	font: bold 1.4em "Roboto Slab", sans-serif;
	color: #f28c00; /* $orange */
}
#name-en {
	font-style: italic;
	color: #9c9b9b; /* $gray-text */
}
.pageheader form {
	display: flex;
	flex: 1;
}
input {
	color: inherit;
}
input:not([type]), input[type="text"], input[type="password"], input[type="search"] {
	width: 100%;
	border: none;
	border-bottom: solid 1px silver;
	outline: none; /* android browser */
	font: inherit;
}
.pageheader .text-input {
	margin-right: 0.5em;
}
main input {
	/*margin: 1px;*/ /* why? scrolls with width=100% */
	margin-top: 1em;
	padding: 0.6em;
}
input:not([type]):focus, input[type="password"]:focus {
	border-bottom: solid 2px #f28c00; /* $orange */
	margin-bottom: 0;
}
.button {
	background: #f28c00; /* $orange */
	border: none;
	color: white;
}
.pageheader .button {
	background: transparent;
	color: inherit;
}
.text-button {
	margin-top: 1em;
	font: bold 1.4em "Roboto Slab", sans-serif;
	padding: 0.5em 1.5em;
	border-radius: 0.5em;
}
.info .text-button {
	display: block; /* required for margin:auto; */
	margin: auto;
}
.info .text-field + .text-button {
	margin-top: 0.5em;
}
.info .latin + .data {
	margin-top: 0.25em;
}
.info .data {
	font-size: 0.9em;
	color: #c6c6c5; /* $disabled */
}
#ancestors div, #ancestors a {
	display: inline;
}
#ancestors div div::before {
	content: ' > ';
}

.score {
	float: right;
	background: no-repeat url("score.png") center center / contain;
	width: 3em;
	padding: 0.85em 0.25em 0.85em 0;
	text-align: center;
	font: bold 2em "Roboto Slab", sans-serif;
	color: white;
}
